@font-face {
  font-family: 'Rawline';
  src: url('./fonts/rawline/rawline-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rawline';
  src: url('./fonts/rawline/rawline-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rawline';
  src: url('./fonts/rawline/rawline-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  min-height: 100vh;
  font-family: 'Rawline', sans-serif;
}

#root {
  width: 100%;
  background: white;
  min-height: 100vh;
}
