*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 100%;
  background: white;
  min-height: 100vh;
}
